<div class="container">
    <form [formGroup]="contactusForm">
        <div class="form-row" formGroupName="person">
            <div class="form-group col-md-6">
                <label>
                    Nombre:
                </label>
                <input type="text" formControlName="firstname" class="form-control"> 
            </div>
            <div class="form-group col-md-6">
                <label>
                    Apellido:
                </label>
                <input type="text" formControlName="lastname" class="form-control"> 
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>
                Email:
            </label>
            <input type="email" formControlName="email" class="form-control"> 
        </div>
        <div class="form-group col-md-6">
            <label>
                Message:
            </label>
            <textarea type="text" formControlName="message" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-6">
            <button class="btn btn-info"  (click)="onSubmit()">Guardar</button>
        </div>
    </form>
    <br>
    <p>
        {{contactusForm.value | json}}
    </p>
</div>