<div class="container">
    <form [formGroup]="contactusForm">
        <div class="form-row" formGroupName="person">
            <div class="form-group col-md-6">
                <label>
                    Nombre:
                </label>
                <input type="text" formControlName="firstname" class="form-control"> 
            </div>
            <div class="form-group col-md-6">
                <label>
                    Apellido:
                </label>
                <input type="text" formControlName="lastname" class="form-control"> 
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>
                Email:
            </label>
            <input type="email" formControlName="email" class="form-control"> 
        </div>
        <div class="form-group col-md-6">
            <label>
                Message:
            </label>
            <textarea type="text" formControlName="message" class="form-control"></textarea>
        </div>
        <div class="form-group col-md-6">
            <button class="btn btn-info"  (click)="onSubmit()" [disabled]="!contactusForm.valid">Guardar</button>
            |
            <button class="btn btn-primary"  (click)="onUpdate()">Cargar Datos</button>
            |
            <button class="btn btn-danger"  (click)="onClean()">Limpiar</button>
        </div>
    </form>
    <br>
    <p>
        Datos del Formulario: {{contactusForm.value | json}}
    </p>
    <p>
        Formulario es valido ? : {{contactusForm.valid}}
    </p>
    <p>
        Estado del Formulario: {{contactusForm.status}}
    </p>
</div>