<div class="container">
    <h3>Equipo de Trabajo</h3>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 mt-3">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/perfil.jpeg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-6">
                    <p><strong>Nombre:</strong> Diego Gonzales</p>
                    <p><strong>Codigo:</strong> U201514668</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 mt-3">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/perfil.jpeg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-6">
                    <p><strong>Nombre:</strong> Diego Gonzales</p>
                    <p><strong>Codigo:</strong> U201514668</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 mt-3">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/perfil.jpeg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-6">
                    <p><strong>Nombre:</strong> Diego Gonzales</p>
                    <p><strong>Codigo:</strong> U201514668</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 mt-3">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/perfil.jpeg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-6">
                    <p><strong>Nombre:</strong> Diego Gonzales</p>
                    <p><strong>Codigo:</strong> U201514668</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 mt-3">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/perfil.jpeg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-6">
                    <p><strong>Nombre:</strong> Diego Gonzales</p>
                    <p><strong>Codigo:</strong> U201514668</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 mt-3">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/perfil.jpeg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-6">
                    <p><strong>Nombre:</strong> Diego Gonzales</p>
                    <p><strong>Codigo:</strong> U201514668</p>
                </div>
            </div>
        </div>
    </div>
</div>
